//TODO animation
.button {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    border-radius: 4px;
    user-select: none;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    isolation: isolate;
    height: fit-content;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%) scale(0);
        z-index: -1;
        width: 80%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background: #1976d2;
        opacity: 0.25;
    }

    &::after {
        top: 50%;
        left: 50%;
        transition: transform 0.2s;
    }

    &::before {
        transition: transform 0s 0.2s;
    }

    &:active::before {
        transform: translate(-50%, -50%) scale(1.25);
        transition: 0.2s;
    }

    &:active::after {
        display: none;
    }

    &:focus-visible::after {
        transform: translate(-50%, -50%) scale(1.1);
        animation-name: pulse;
        animation-duration: 2s;
        animation-delay: 0.2s;
    }

    &:focus-visible::before {
        top: 50%;
        left: 50%;
    }

    @keyframes pulse {
        0% {
            transform: translate(-50%, -50%) scale(1.1);
        }
        50% {
            transform: translate(-50%, -50%) scale(1);
        }
        100% {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
}

.contained {
    color: #fff;
    background-color: #1976d2;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    transition: background-color 0.75s, box-shadow 0.75s;

    .icon {
        fill: #ffffff;
    }

    &:hover:not(.disabled) {
        background-color: #1565c0;

        box-shadow: rgb(0 0 0 / 0.2) 0 2px 4px -1px, rgb(0 0 0 / 0.14) 0px 4px 5px 0px,
            rgb(0 0 0 / 0.12) 0px 1px 10px 0px;
    }

    &:active:not(.disabled) {
        box-shadow: rgb(0 0 0 / 0.4) 0 2px 4px -1px, rgb(0 0 0 / 0.28) 0px 4px 5px 0px,
            rgb(0 0 0 / 0.24) 0px 1px 10px 0px;
    }

    &::after,
    &::before {
        background-color: #fff;
    }
}

.text {
    color: #1976d2;
    background-color: transparent;
}

.outlined {
    color: #1976d2;
    background-color: transparent;
    border: 1px solid rgba(25, 118, 210, 0.5);
}

.small {
    padding: 4px 10px;
    font-size: 0.8125rem;

    &.text {
        padding: 4px 5px;
    }

    &.outlined {
        padding: 3px 9px;
    }

    .icon {
        font-size: 18px;

        &:last-child {
            margin-right: -2px;
        }

        &:first-child {
            margin-left: -2px;
        }
    }
}

.medium {
    padding: 6px 16px;
    font-size: 0.875rem;

    &.text {
        padding: 6px 8px;
    }

    &.outlined {
        padding: 5px 15px;
    }

    .icon {
        font-size: 20px;
    }
}

.large {
    padding: 8px 22px;
    font-size: 0.9375rem;

    &.text {
        padding: 8px 11px;
    }

    &.outlined {
        padding: 7px 21px;
    }

    .icon {
        font-size: 22px;
    }
}

.disabled {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    cursor: auto;

    &.outlined {
        border: 1px solid rgba(0, 0, 0, 0.12);
    }

    &.contained {
        background-color: rgba(0, 0, 0, 0.12);
    }

    .icon {
        fill: rgba(0, 0, 0, 0.26);
    }
}

.icon {
    display: flex;
    width: fit-content;
    height: 100%;
    fill: #1976d2;

    &:last-child {
        margin-right: -4px;
        margin-left: 8px;
    }

    &:first-child {
        margin-right: 8px;
        margin-left: -4px;
    }
}
