.container {
    position: relative;
    display: inline-flex;
    padding: 0;

    &::after {
        content: '';
        position: absolute;
        right: 13px;
        top: calc(50% - 0.17rem);
        width: 0;
        height: 0;
        border: 0.35rem solid transparent;
        border-top: 0.35rem solid rgba(0, 0, 0, 0.54);
        border-bottom: 0;
        pointer-events: none;
    }
}

.open {
    &::after {
        border-bottom: 0.35rem solid rgba(0, 0, 0, 0.54);
        border-top: 0;
    }
}

.full-width {
    width: 100%;
}

.disabled {
    * {
        cursor: default;
    }

    &::after {
        border-top-color: rgba(0, 0, 0, 0.3);
    }
}

.select {
    position: relative;

    * {
        cursor: pointer;
    }

    input {
        padding-right: 35px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
