.container {
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;

    * {
        box-sizing: border-box;
    }
}

.text-field {
    display: inline-flex;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        border-bottom: 2px solid #1976d2;
        transform: scaleX(0);
        transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1) 0s;
    }
}

.label {
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 10px;
    top: 15px;
    padding: 0 4px;
    pointer-events: none;
    transition: font-size 0.2s, top 0.2s;
    max-width: calc(100% - 20px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.input {
    font: inherit;
    color: rgba(0, 0, 0, 0.8);
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    display: block;
    padding: 16px 14px;
    outline: none;
    border: none;
    width: 100%;

    &:not([value='']) ~ .label,
    &:focus-visible ~ .label {
        font-size: 0.75rem;
    }
}

.error-text {
    color: #d32f2f;
    font-size: 0.75rem;
    display: none;
    margin: 3px 14px 0;
}

.outlined {
    border: 2px solid transparent;
    border-radius: 4px;

    .input {
        border: 1px solid rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        margin: -2px;

        &:hover {
            border-color: #222222;
        }

        &:not([value='']) ~ .label,
        &:focus-visible ~ .label {
            top: -10px;
            background-color: #fff;
        }
    }
}

.filled {
    background-color: rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    border-radius: 4px 4px 0 0;

    &:hover {
        background-color: rgba(0, 0, 0, 0.09);
        border-color: #222222;
    }

    .input {
        padding: 25px 14px 7px;

        &:not([value='']) ~ .label,
        &:focus-visible ~ .label {
            top: 5px;
        }
    }
}

.standard {
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);

    &:hover {
        border-color: #222222;
    }

    .input {
        padding: 4px 0 5px;
        margin-top: 16px;

        &:not([value='']) ~ .label,
        &:focus-visible ~ .label {
            top: -4px;
        }
    }

    .label {
        left: 0;
        top: 20px;
        padding: 0;
        max-width: 100%;
    }
}

.container:not(.error) {
    .input:focus-visible ~ .label {
        color: #1976d2;
    }

    .outlined {
        &:has(> .input:focus-visible) {
            border: 2px solid #1565c0;

            .input {
                border: 1px solid transparent;
            }
        }
    }

    .standard {
        &:has(> .input:focus-visible) {
            &::after {
                transform: scaleX(1);
            }
        }
    }

    .filled {
        &:has(> .input:focus-visible) {
            &::after {
                transform: scaleX(1);
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.06);
        }
    }
}

.full-width {
    display: flex;
    width: 100%;

    .input {
        display: flex;
        width: 100%;
    }
}

.error {
    .label {
        color: #d32f2f;
    }

    .error-text {
        display: inline;
    }

    .outlined {
        .input {
            border-color: #d32f2f;
        }
    }

    .text-field::after {
        border-color: #d32f2f;
    }

    .filled,
    .standard {
        border-color: #d32f2f;
    }

    .standard ~ .error-text {
        margin: 3px 0 0;
    }
}

.disabled {
    .label {
        color: rgba(0, 0, 0, 0.38);
    }

    .standard:hover,
    .filled:hover {
        border-color: rgba(0, 0, 0, 0.42);
    }

    .input:hover {
        border-color: rgba(0, 0, 0, 0.23);
    }

    .filled {
        background-color: rgba(0, 0, 0, 0.12);
    }

    .standard,
    .filled {
        border-bottom-style: dotted;
    }
}

.select {
    position: relative;

    * {
        cursor: pointer;
    }

    .input {
        padding-right: 35px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
